:host {
  display: block;
}

.app-set-editor {
  .set-editor-title {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 36px;

    .title-text-container {
      font-weight: bold;
      line-height: 1.5;
    }
  }

  .items-empty {
    opacity: 0.5;
  }
}
