<div class="app-set-editor">
  <div class="set-editor-title">
    <span class="title-text-container" #titleText>
      <ng-content select="[title]"></ng-content>
    </span>
    <button *ngIf="editable" mat-icon-button class="settings-button" aria-label="Edit" (click)="beginEditing()">
      <mat-icon>settings</mat-icon>
    </button>
  </div>
  <div class="set-editor-items">
    <ng-container *ngIf="isLocalSet">
      <ng-container *ngFor="let itemId of listSet">
        <span cache-node [node]="itemId">
          <ng-container *appItem="let item">
            <ng-container
              *ngTemplateOutlet="
                itemTemplate;
                context: { $implicit: item, interactive: true }
              "
            ></ng-container>
          </ng-container>
        </span>
      </ng-container>
    </ng-container>
    <ng-container *ngIf="!isLocalSet">
      <ng-container *ngFor="let item of listSet$.currentItems">
        <ng-container
          *ngTemplateOutlet="
            itemTemplate;
            context: { $implicit: item, interactive: true }
          "
        ></ng-container>
      </ng-container>
      <div class="more-items" *ngIf="listSet$.current?.size < listSet$.totalCount">...</div>
    </ng-container>
    <div class="items-empty" *ngIf="isLocalSet ? !totalCount : !totalCount && !listSet$.loading">
      <ng-content select="[if-empty]"></ng-content>
    </div>
  </div>
</div>
