<h1 mat-dialog-title>Create Project</h1>
<div class="error-div" *ngIf="this.saveFailed" [class.error-display]="this.saveFailed" color="warn"> There went something wrong</div>
<div mat-dialog-content>
  <form >
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input #name reqired matInput name="name" >
    <mat-error *ngIf="this.saveFailed">bad</mat-error>
  </mat-form-field>
</form>
</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [class.spinner]="loading" [disabled]="loading" (click)="onOkClick(name.value)">Create</button>
</div>

