<mat-drawer-container style="height:100%"class="example-container" hasBackdrop="false">
  <mat-drawer style="width:100%;" #drawer mode="side" position="end">
    <button style="float:right" mat-fab color="grey" (click)="this.drawer.toggle()">
      <mat-icon>close</mat-icon>
    </button>
    <app-component-details *ngIf="drawerNode && drawerNode.type==='component'" [clickedNode]="this.drawerNode" [displayComponent]="displayComponent"></app-component-details>
  </mat-drawer>
  <mat-drawer-content>
    <app-issue-graph-controls [drawer]=drawer></app-issue-graph-controls>
  </mat-drawer-content>
</mat-drawer-container>
