.sidenav-container {
  height: 100%;
  grid-column: 1 / 2;
  grid-row: 2 / 3;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.sidenav-content {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.container {
  margin: 0;
  padding: 0;
  width: 100%;
  flex: 1 1 auto;
  overflow-y: auto;
}

.root {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto 1fr;
  height: 100%;
  overflow-y: hidden;
}

.header {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}
