<app-query-component errorMessage="Failed to load labels">
    <ng-template appQueryBody>
        <div class="label-wrapper">
            <ng-select #labelSelector class="ng-select-label" [dropdownPosition]="'bottom'" [multiple]="true"
                       [(ngModel)]="this.selectedLabels"
                       [ngModelOptions]="{standalone: true}" placeholder="Select Labels">
                <ng-option *ngFor="let label of this.componentLabels" [value]="label.id">
                    <span style="line-height: 1.2em; min-height: 1.2em; max-height: 1.2em">
                        <app-issue-label [label]="label"></app-issue-label>
                    </span>
                </ng-option>
            </ng-select>
            <button mat-icon-button color="primary" class="new-label-button" (click)="this.onNewLabelClick()">
                <mat-icon>add</mat-icon>
            </button>
        </div>
    </ng-template>
</app-query-component>
