<div class="label-wrapper" [hidden]="this.loading">
  <ng-select #labelSelector class="ng-select-label" [dropdownPosition]="'bottom'" [multiple]="true"
             [(ngModel)]="this.selectedLabels"
             [ngModelOptions]="{standalone: true}" placeholder="Select Labels">
    <ng-option *ngFor="let label of this.componentLabels" [value]="label.id">
      <span style="display: inline-block">
        <span class="issue-label"
              [ngStyle]="{'background-color': label.color, 'color': this.labelStore.lightOrDark(label.color)}">
          {{label.name}}
        </span>
      </span>
    </ng-option>
  </ng-select>
  <button mat-raised-button color="accent" class="new-label-button" (click)="this.onNewLabelClick()">
    New Label
  </button>
</div>
<div [hidden]="!this.loading" class="label-wrapper">
  <mat-spinner diameter="40"></mat-spinner>Loading labels...
</div>
<div [hidden]="!this.error" class="label-wrapper">
  <mat-error>Failed to load labels!</mat-error>
</div>
