/src/generated
/.github
/.vscode
/documentation
/e2e
/node_modules
.editorconfig
.gitignore
.graphqlconfig
angular.json
browserslist
codegen.yml
karma.conf.js
LICENSE
package.json
package-lock.json
tsconfig.app.json
tsconfig.doc.json
tsconfig.json
tsconfig.spec.json
