<a class="issue-title is-interactive" [href]="getIssueLink()" *ngIf="interactive">
  <app-issue-icon class="issue-icon" [issue]="issue"></app-issue-icon>
  {{issue.title}}
</a>
<span class="issue-title" *ngIf="!interactive">
  <app-issue-icon class="issue-icon" [issue]="issue"></app-issue-icon>
  {{issue.title}}
</span>
<div class="linked-issue-locations" *ngIf="!!issue.locations?.totalCount">
  <span class="inner-item" *ngFor="let component of issue.locations.nodes">
    {{component.name}}
  </span>
</div>
