<div class="container">
  <div class="controls">
    <mat-slide-toggle [(ngModel)]="featureRequests" matTooltip="Feature Requests" class="slide-toggle" [checked]="true"
                      (change)="updateSelectedCategories()">
      <mat-icon class="feature-request-icon">emoji_objects</mat-icon>
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="bug" matTooltip="Bug Reports" class="slide-toggle" [checked]="true"
                      (change)="updateSelectedCategories()">
      <mat-icon class="bug-report-icon">bug_report</mat-icon>
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="unclassified" matTooltip="Unclassified Issues" class="slide-toggle" [checked]="true"
                      (change)="updateSelectedCategories()">
      <b class="unclassified-issue-icon">?</b>
    </mat-slide-toggle>
    <mat-slide-toggle [(ngModel)]="showRelations" matTooltp="Issue Relations" class="slide-toggle" [checked]="true"
                      (change)="setRelationVisibility()">
      <mat-icon class="relation-edge-icon" svgIcon="relation-edge"></mat-icon>
    </mat-slide-toggle>
    <button mat-icon-button title="Fit graph into view" (click)="this.issueGraph.fitGraphInView()"
            style=" margin-left: 20px">
      <mat-icon>center_focus_strong</mat-icon>
    </button>
    <app-label-search #labelSearch></app-label-search>
    <button mat-icon-button title="Create new Component" class="create-component-button"
            (click)="this.issueGraph.openCreateComponentDialog()">
      <mat-icon>add_box</mat-icon>
    </button>
  </div>
  <app-issue-graph [projectId]="projectId"></app-issue-graph>
</div>
