@import '~@angular/material/theming';
@import 'variables';

.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  margin:0px;
}
.container app-issue-graph {
  flex-grow: 1;
}

.controls {
  display: flex;
  flex-direction: row;
  background-color: $background-controls;
  border-bottom: 1px solid $border-color-controls;
}

.controls app-label-search {
  display: inline-block;
    height: 44px;
    flex-grow: 1;
    margin-left: 20px;
}

.slide-toggle {
  margin-left: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.bug-report-icon {
  color: red;
}

.feature-request-icon {
  color: #005eff;
}

.unclassified-issue-icon {
  font-size: larger;
}

.feature-request-icon, .bug-report-icon, .notification-icon {
  margin-top: 7px;
}

.relation-edge-icon {
  margin-top: 12px;
}
.create-component-button {
  margin-left: 20px;
  font-size: larger;
  right: 10px;
}

.spacer {
  flex: 1 1 auto;
}
