<mat-toolbar>{{menuTitle}}</mat-toolbar>
<mat-nav-list>
  <mat-list-item routerLink="/projects/1" routerLinkActive="list-item-active">
    <mat-icon >info</mat-icon>
    <a href="#">Overview</a>
  </mat-list-item>
  <mat-list-item  [routerLink]="['/projects', (ss.state$ | async).project.id, 'graph']" routerLinkActive="list-item-active">
    <mat-icon>account_tree</mat-icon>
    <a>Graph</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>bug_report</mat-icon>
    <a href="#">Issues</a>
  </mat-list-item>
  <mat-list-item>
    <mat-icon>group</mat-icon>
    <a href="#">Members</a>
  </mat-list-item>
</mat-nav-list>
