<div class="timeline-item">
  <div class="item-box" *ngIf="comment$.hasData && comment$.current as comment">
    <!--Part 1: Header-->
    <div class="item-header">
      <!--Text-->
      <h3 class="item-title">
        <app-user-item [short]="true" [user]="comment.createdBy"></app-user-item> commented
        <time [dateTime]="comment.createdAt" [title]="this.timeFormatter.formatTime(comment.createdAt)">
          {{this.timeFormatter.formatTimeDifference(comment.createdAt)}}
        </time>
        <span class="item-edited" *ngIf="comment.lastEditedAt !== comment.createdAt">
          &sdot;<app-user-item [short]="true" [user]="comment.editedBy?.nodes[0]"></app-user-item> edited
          <time [dateTime]="comment.lastEditedAt" [title]="this.timeFormatter.formatTime(comment.lastEditedAt)">
            {{this.timeFormatter.formatTimeDifference(comment.lastEditedAt)}}
          </time>
        </span>
      </h3>

      <!--Edit-->
      <button
          *ngIf="!this.editBody"
          class="item-edit"
          mat-flat-button
          (click)="this.editBody=!this.editBody">
        Edit
      </button>
    </div>

    <!--Part 2: Description-->
    <div *ngIf="!this.editBody" class="item-body">
      <app-markdown-preview [displayedCode]="comment.body"></app-markdown-preview>
    </div>

    <!--Part 3: Editing-->
    <div *ngIf="this.editBody" class="item-body is-editing" [ngStyle]="{'height': (this.editBody) ? '280px' : 'auto'}">
      <!--Text-->
      <app-markdown-editor #bodyEdit [code]="comment.body"></app-markdown-editor>

      <div class="edit-body-buttons">
        <!--Cancel-->
        <button mat-raised-button (click)="this.editBody=!this.editBody">Cancel</button>
        <!--Save-->
        <button mat-raised-button color="primary" [class.spinner]="savingBody" (click)="editComment(bodyEdit.code)">Save</button>
      </div>
    </div>
  </div>
</div>

