<div>
  <div class="margin-left-top p-3">
    <div class="project-title-row d-flex">
      <div class="box">
        <img src="https://github.com/github.png"/>
      </div>
      <div *ngIf="(project$ | async)?.node as project">
        <div class="content">
          <p class="title">{{project.name}}</p>
          <div class="sub-title">Owner: {{project.owner.displayName}}</div>
          <div class="sub-sub-title">Project ID: {{project.id}}</div>
        </div>

      </div>

    </div>
    <div matSort matSortActive="Name">

      <button class="button-add" mat-fab color="warn" (click)="this.onAddClick()">
        <mat-icon>add</mat-icon>
      </button>
      <div class="component-title">
        <mat-form-field appearance="outline">
          <mat-label>Filter</mat-label>
          <input [formControl]="this.validationFilter" matInput (keyup)="applyFilter($event.target.value)">
        </mat-form-field>
      </div>
      <div class="table-container mat-elevation-z8">
        <table *ngIf="(project$ | async)?.node as project" mat-table style="width:100%; min-width: 50%;"
               [dataSource]="this.dataSource">

          <!-- Name Column -->
          <ng-container matColumnDef="Name">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Name</th>
            <td mat-cell style="text-align: left;" *matCellDef="let element"> {{element.displayName}} </td>
          </ng-container>

          <!-- Role Column -->
          <ng-container matColumnDef="Role">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Role</th>
            <td mat-cell style="text-align: left;" *matCellDef="let element"> Administrator</td>
          </ng-container>

          <!-- Mail Column -->
          <ng-container matColumnDef="email">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Email</th>
            <td mat-cell style="text-align: left;" *matCellDef="let element"> {{element.email}} </td>
          </ng-container>

          <!-- Actions Column -->
          <ng-container matColumnDef="Actions">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Actions</th>
            <td mat-cell style="text-align: left;" *matCellDef="let element">

              <span>Remove from Project</span>

            </td>
          </ng-container>

          <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
          <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay" (click)="this.clickedOnRow(rowData)"></tr>
        </table>

      </div>
      <mat-paginator #paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>
    </div>

  </div>
</div>
