<div class="margin-left-top p-3" >
<div class="project-title-row d-flex">
  <div class="box">
    <img src="https://github.com/github.png" />
  </div>
  <div *ngIf="(project$ | async)?.node as project">
    <div class="content">
      <p class="title">{{project.name}}</p>
      <div class="sub-title">Owner: {{project.owner.displayName}}</div>
      <div class="sub-sub-title">Project ID: {{project.id}}</div>
    </div>

  </div>

</div>
<div class="component-title">
  <app-issue-list [parentCaller] ="'project'"></app-issue-list>
</div>
</div>
