.text-left {
  text-align: left;
}
.mat-row:hover {
  -webkit-box-shadow: inset 0px 0px 43px -17px rgba(201,195,201,1);
  -moz-box-shadow: inset 0px 0px 43px -17px rgba(201,195,201,1);
  box-shadow: inset 0px 0px 43px -17px rgba(201,195,201,1);
cursor: pointer;
}
