.filter-box {
  padding: 8px;

  // we do not want the extra spacing around form fields
  ::ng-deep .mat-form-field-wrapper {
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
  }

  .pred-add, .pred-remove {
    min-width: 48px;
    width: 48px;
    padding: 0 8px;
  }

  .search-box {
    display: flex;
    align-items: center;

    .search-field {
      flex: 1;
    }

    .pred-add {
      margin-left: 16px;
    }
  }

  .filter-predicates {
    margin-top: 8px;

    .filter-title {
      font-weight: bold;
      padding-left: 8px;
    }

    .filter-predicate {
      display: flex;
      align-items: flex-start;

      .predicate-type {
        margin-right: 16px;
      }
      .predicate-value {
        flex: 1;
      }

      .predicate-mgmt {
        margin-left: 16px;
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 4px;

        .pred-add {
          margin-left: 4px;
        }
      }

      @media (max-width: 500px) {
        display: block;
        border-top: 1px solid rgba(0, 0, 0, 0.1);
        padding: 8px 0;

        .predicate-type {
          margin-right: 0;
          margin-bottom: 8px;

          .predicate-type-selector {
            width: 100%;
          }
        }
        .predicate-value {
          .bool-value {
            width: 100%;
            mat-button-toggle {
              width: 100%;
            }
          }
        }
        .predicate-mgmt {
          border: none;
          margin-left: 0;
          text-align: right;
        }
      }
    }
  }
}
