<div matSort matSortActive="category">
  <div style="display: flex; align-items: flex-start">

    <mat-form-field appearance="outline" style="flex: 1 1 auto; margin-left: 4px">
      <mat-label>Filter</mat-label>
      <input [formControl]="this.validationFilter" matInput (keyup)="applyFilter($event.target.value)">
    </mat-form-field>

    <button mat-raised-button *ngIf="this.canCreateNewIssue" color="primary"
            (click)="this.onAddClick()" title="Create a new issue" style="margin: 4px 8px 0 8px; height: 50px">
      Create issue
    </button>
    
  </div>

  <div class="table-container mat-elevation-z8"
       *ngIf="list$.hasData">
    <table mat-table style="width:100%; min-width: 50%;" [dataSource]="this.dataSource">

      <!-- Title Column -->
      <ng-container matColumnDef="title">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title</th>
        <td mat-cell style="text-align: left;" *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- author Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Author</th>
        <td mat-cell style="text-align: left;" *matCellDef="let element"> {{element.createdBy.displayName}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="assignees">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignees</th>
        <td mat-cell style="text-align: left;" *matCellDef="let element"> {{element.assigneesString}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="labels">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Labels</th>
        <td mat-cell style="text-align: left;" *matCellDef="let element">
          <div style="float: left;" *ngFor="let label of element.labels.nodes">
            <app-issue-label [label]="label"></app-issue-label>
          </div>
        </td>
      </ng-container>

      <!-- category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Category</th>
        <td mat-cell style="text-align: left" *matCellDef="let element">
          <div style="display: flex; align-items: center">
            <mat-icon [svgIcon]="this.formatCategoryIcon(element.category)" style="margin-right: 4px">
            </mat-icon>
            {{this.formatCategoryDescription(element.category)}}
          </div>
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay" (click)="this.clickedOnRow(rowData)"></tr>
    </table>

  </div>
  <app-cursor-paginator [list]="this.list$" [pageSizes]="[10, 25, 50, 100]"></app-cursor-paginator>
</div>


