  <div  class="mat-elevation-z8" matSort matSortActive="category" >
    <button *ngIf="this.parentCaller.match('component')"  class="button-add" mat-fab color="warn" (click)="this.onAddClick()">
      <mat-icon>add</mat-icon>
    </button>
    <mat-form-field appearance="outline">
      <mat-label>Filter</mat-label>
      <input matInput (keyup)="applyFilter($event.target.value)" >
    </mat-form-field>

    <div class="table-container" *ngIf="(component$ | async)?.node || (interface$ | async)?.node as component">
    <table mat-table style="width:100%; min-width: 50%;" [dataSource]="this.dataSource">

      <!-- Title Column -->
      <ng-container matColumnDef="title" >
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Title. </th>
        <td mat-cell style="text-align: left;" *matCellDef="let element"> {{element.title}} </td>
      </ng-container>

      <!-- author Column -->
      <ng-container matColumnDef="author">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
        <td mat-cell style="text-align: left;" *matCellDef="let element"> {{element.createdBy.displayName}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="assignees">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Assignees </th>
        <td mat-cell style="text-align: left;" *matCellDef="let element"> {{element.assigneesString}} </td>
      </ng-container>

      <!-- Title Column -->
      <ng-container matColumnDef="labels">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> Labels </th>
        <td mat-cell style="text-align: left;" *matCellDef="let element">
        <div style="margin: 1px;float: left;float: left; border-radius: 5px; padding-left: 5px; padding-right: 5px;" *ngFor="let label of element.labels.nodes"
        [ngStyle]="{'background-color': label.color,'color':this.lightOrDark(label.color)}">
        <span>{{label.name}} </span>
      </div>
        </td>
      </ng-container>

      <!-- category Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell mat-sort-header *matHeaderCellDef> Category </th>
        <td mat-cell style="text-align: left;" *matCellDef="let element"> {{element.category}} </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
      <tr mat-row *matRowDef="let rowData; columns: columnsToDisplay" (click)="this.clickedOnRow(rowData)"></tr>
    </table>

  </div>
  <mat-paginator #paginator [pageSizeOptions]="[10, 20, 100]" showFirstLastButtons></mat-paginator>
</div>


