@import './spinner';

.error-div {
  background-color: #FF692C;
  border-radius: 2px;
  height: 25px;
  text-align: center;
  //animation-name: error-display;
  //animation-duration: .5s;
  opacity: .8;
  animation: fadeIn .7s;
}
.error-message {
  margin-bottom: 24px;
}
@keyframes error-display {
  from { transform: translatey(-25px)}
  to   { transform: translateX(0px) }
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:.8;}
}
.stretch {
  width: 100%;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.actions {
  float: right;
}
