<mat-toolbar color="primary">
  <!--add *ngIf="isHandset$ | async" within the button tag if u want to show the menu toggle button on mobile only-->
  <button mat-icon-button class="example-icon" aria-label="Toggle sidenav" (click)="this.handleClick()">
    <mat-icon>menu</mat-icon>
  </button>
  <!--<span>CCIMS</span>-->
  <button routerLink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Home icon-button with a house">
    <mat-icon>home</mat-icon>
  </button>
  <!--<span id="current-project" [hidden]="!(isHandset$ | async)">LLVM (Project)</span>-->
  <span class="toolbar-spacer"></span>
  <!--This div makes the setting and account icon stay together - mat-toolbar has justify-content set-->
  <div>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>settings</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>account_circle</mat-icon>
  </button>
  <button (click)="authService.logout()" mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>logout</mat-icon>
  </button>
  </div>
</mat-toolbar>
