<mat-toolbar color="primary" id="toolbar">
  <!--add *ngIf="isHandset$ | async" within the button tag if you want to show the menu toggle button on mobile only-->
  <button mat-icon-button class="example-icon" aria-label="Toggle sidenav" (click)="this.handleClick()"
          [hidden]="!showMenuButton" title="Show menu">
    <mat-icon>menu</mat-icon>
  </button>
  <button routerLink="/" mat-icon-button class="example-icon favorite-icon" aria-label="Home icon-button with a house"
          title="Show all projects">
    <mat-icon>home</mat-icon>
  </button>
  <span class="toolbar-spacer"></span>
  <!--This div makes the setting and account icon stay together - mat-toolbar has justify-content set-->
  <div>
    <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon"
            title="Settings">
      <mat-icon>settings</mat-icon>
    </button>
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon"
            title="User settings">
      <mat-icon>account_circle</mat-icon>
    </button>
    <button (click)="authService.logout()" mat-icon-button class="example-icon"
            aria-label="Example icon-button with share icon" title="Logout">
      <mat-icon>logout</mat-icon>
    </button>
  </div>
</mat-toolbar>
