<div class="outer-container settings" name="settings">
  <div class="inner-container settings"name="settings">
    <div class="settings" *ngIf="this.selection=='labels'">
      <p class="settings" name="settings"><b>Edit Labels</b></p>
      <mat-divider name="settings"></mat-divider>

      <ng-select class="ng-select-label settings" [dropdownPosition]="'bottom'" [multiple]="true" [(ngModel)]="this.selectedLabels"
        [ngModelOptions]="{standalone: true}" placeholder="Select Labels">
          <ng-option class="settings" *ngFor="let label of this.labels" [value]="label.id" [ngStyle]="{'color':this.lightOrDark(label.color)}" >
        <!--<div class="settings" [ngStyle]="{'background-color': label.color,'width':'25px',
          'float':'left','height':'25px','margin-right':'5px','margin-top':'10px'}"></div>
        <span [ngStyle]="{'background-color': label.color,'color':this.lightOrDark(label.color)}">{{label.name}}</span>
        <div style="margin: 1px;float: left; border-radius: 5px; padding-left: 5px; padding-right: 5px;"
              [ngStyle]="{'background-color': label.color,'color':this.lightOrDark(label.color)}">
              <span >{{label.name}} </span>
            </div>
            -->
            <span style="margin: 1px;float: left; border-radius: 5px; padding-left: 5px; padding-right: 5px;"
            [ngStyle]="{'background-color': label.color,'color':this.lightOrDark(label.color)}" >{{label.name}} </span>

    </ng-option>

</ng-select>
    </div>
    <div class="settings" *ngIf="this.selection=='assignees'">Assingees aufgerufen</div>
    <div class="settings" *ngIf="this.selection=='link'">
      <p class="settings" name="settings"><b>Edit Labels</b></p>
      <mat-divider name="settings"></mat-divider>

      <ng-select *ngIf="issuesLoaded" class="adding-margin"
            [dropdownPosition]="'top'"
            [multiple]="true"
            [(ngModel)]="this.selectedIssues"
            [ngModelOptions]="{standalone: true}"
            placeholder="Select Issues to link"
            groupBy="component"
            [items]="linkableProjectIssues"
            bindLabel="title"
            bindValue="id">
        <ng-template ng-optgroup-tmp let-item="item">
          {{item.component || 'Unnamed group'}}
        </ng-template>
      </ng-select>

    </div>
    <div class="settings" *ngIf="this.selection=='nfr'">
      <p class="settings" name="settings"><b>Edit Interfaces, Artefacts & NFR</b></p>
      <mat-divider name="settings"></mat-divider>

      <ng-select *ngIf="this.selectedInterfaces" class="adding-margin" [dropdownPosition]="'top'" [multiple]="true" [(ngModel)]="this.selectedInterfaces" [ngModelOptions]="{standalone: true}" placeholder="Interfaces providing the issue">
        <ng-option *ngFor="let componentInterface of this.selectableComponentInterfaces" [value]="componentInterface.id" >{{componentInterface.name}}</ng-option>
      </ng-select>

      <mat-form-field class="stretch" appearance="outline">
        <mat-label>Artefacts</mat-label>
        <textarea style="height: 30px;" #artefects matInput ></textarea>
      </mat-form-field>

      <mat-form-field class="stretch" appearance="outline">
        <mat-label>Non-functional-requirements</mat-label>
        <textarea style="height: 30px;" #nfr matInput ></textarea>
      </mat-form-field>
    </div>
  </div>

</div>
