<div class="issue-contents" *ngIf="issue$?.current as issue">
    <!--Part 3: Issue body-->
    <div class="timeline-item issue-body">
        <div class="item-box">
            <!--Part 3.1: Header-->
            <div class="item-header">

                <!--Text-->
                <h3 class="item-title">
                    <app-user-item [short]="true" [user]="issue.createdBy"></app-user-item> commented
                    <time [dateTime]="issue.createdAt"
                          [title]="this.formatTime(issue.createdAt)">{{this.formatIssueOpenTime()}}</time>
                    <!-- TODO: show more details about edits (make that into a component?) -->
                    <span class="item-edited" *ngIf="issue.lastEditedAt"> · edited</span>
                </h3>

                <!--Edit-->
                <button
                    *ngIf="!this.editBody"
                    class="item-edit"
                    mat-flat-button
                    (click)="this.editBody=!this.editBody">
                    Edit
                </button>
            </div>

            <!--Part 3.2: Description-->
            <div *ngIf="!this.editBody" class="item-body">
                <app-markdown-preview [displayedCode]="issue.body"></app-markdown-preview>
            </div>

            <!--Part 3.3: Editing-->
            <div *ngIf="this.editBody" class="item-body is-editing" [ngStyle]="{minHeight: (this.editBody) ? '280px' : 'auto'}">

                <!--Text-->
                <app-markdown-editor #bodyEdit [code]="issue.body"></app-markdown-editor>

                <div class="edit-body-buttons">

                    <!--Cancel-->
                    <button mat-raised-button (click)="this.editBody=!this.editBody">Cancel</button>
                    &nbsp;
                    <!--Save-->
                    <button mat-raised-button color="primary" [class.spinner]="savingBody" (click)="this.editIssueBody(bodyEdit.code)">Save</button>
                </div>
            </div>
        </div>
    </div>

    <!--Part 4: Linked issues-->
    <div *ngIf="linkedIssues$.totalCount > 0" class="timeline-item">
        <div class="item-box">
            <div class="item-header">
                <mat-icon>link</mat-icon>
                <h3 class="item-title">
                    <b>Linked Issues</b>
                </h3>
            </div>
            <div class="item-body">
                <div class="linked-issues-container">
                    <mat-accordion>
                        <ng-container *ngFor="let currentIssue of linkedIssues$.currentItems">
                            <app-issue-detail-linked-issue-item [issueStub]="currentIssue" [projectId]="projectId">
                            </app-issue-detail-linked-issue-item>
                        </ng-container>
                    </mat-accordion>
                </div>
                <app-cursor-paginator
                    *ngIf="linkedIssues$.totalCount > 10"
                    [list]="linkedIssues$"
                    [pageSizes]="[10]"></app-cursor-paginator>
            </div>
        </div>
    </div>

    <app-timeline [issueId]="issueId" [projectID]="projectId"></app-timeline>

    <mat-divider></mat-divider>

    <!--Part 6: Comment creation box-->
    <div class="timeline-item comment-form">
        <div class="item-box">
            <div class="item-header">
                <h3 class="item-title">
                    Comment this issue as <app-user-item [user]="currentUser$.current" [short]="true"></app-user-item>
                </h3>
            </div>
            <div class="item-body">
                <app-markdown-editor #comment></app-markdown-editor>
                <div class="comment-buttons">
                    <button *ngIf="issue.isOpen" mat-raised-button color="warn" (click)="this.closeIssue()">Close Issue
                    </button>
                    <button *ngIf="!issue.isOpen" mat-raised-button color="accent" (click)="this.reopenIssue()">Reopen
                        Issue
                    </button>
                    &nbsp;
                    <button mat-raised-button color="primary" [class.spinner]="savingComment" (click)="this.commentIssue(comment.code)">Comment
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>
