<!--Current issue details-->
<div class="issue-details" #issueContainer *ngIf="issue$?.current as issue">
  <header class="issue-header">
    <div class="issue-title">
      <!-- TODO: use app-text-display component for this -->
      <h1 class="title-text">
        {{issue.title}}
      </h1>
      <input #titleInput class="title-input" *ngIf="this.editTitle" mat-input [value]="issue.title">
      <div class="title-actions" *ngIf="userCanEditIssue">
        <button mat-flat-button class="title-edit-button" color="primary" (click)="beginEditingTitle()" *ngIf="!this.editTitle">
          Edit
        </button>
        <button mat-flat-button *ngIf="this.editTitle" (click)="this.finishEditingTitle()">
          Cancel
        </button>
        <button mat-flat-button *ngIf="this.editTitle" (click)="this.finishEditingTitle(true)" [class.spinner]="savingTitle" color="accent">
          Save
        </button>
      </div>
    </div>
    <div class="issue-subheading">
      <div [ngClass]="['issue-status', issue.isOpen ? 'is-open' : 'is-closed']">
        <app-issue-icon class="status-icon" [issue]="issue"></app-issue-icon>
        <span class="status-label">
          <ng-container *ngIf="issue.isOpen">Open</ng-container>
          <ng-container *ngIf="!issue.isOpen">Closed</ng-container>
        </span>
      </div>
      <div class="issue-opened">
        <app-user-item [noDisplay]="true" [user]="issue.createdBy"></app-user-item>
        opened this issue
        <time [dateTime]="issue.createdAt"
              [title]="this.timeFormatter.formatTime(issue.createdAt)">
          {{this.formatIssueOpenTime()}}
        </time>
      </div>
      <div class="issue-stats">
        &nbsp;&sdot; {{this.timeFormatter.pluralize(issue.issueComments?.totalCount + 1, 'comment')}}
      </div>
    </div>
  </header>
  <div class="issue-page">
    <app-issue-contents
        class="issue-contents"
        [issue$]="issue$"
        [issueId]="issueId"
        [projectId]="projectId"></app-issue-contents>
    <app-issue-sidebar
        class="issue-sidebar"
        [issue$]="issue$"
        [issueId]="issueId"
        [projectId]="projectId"></app-issue-sidebar>
  </div>
</div>
