@import 'https://github.githubassets.com/assets/github-851c9f2100deff0630295c8ad646050c.css';
@import 'https://github.githubassets.com/assets/frameworks-ade8c0b2824918a1541c3ba74047219e.css';

#issue-state, #issue-header{
  display: flex;
  text-align: center;
}

#issue-heading {
  display: inline;
  margin-right: 8px;
}
#issue-action {
  margin-left: auto;
}
.issue-comment {
  margin-left: 0;
    // The Timeline
    &::before {
      left: 16px;
    }
  display: block;
}

.TimelineItem {
  &::before {
    z-index: -1;
  }
}
