<div class="container-xl" #issueContainer *ngIf="(issue$ | async) as issue">
  <app-issue-settings-container *ngIf="this.editIssue" [selectedLabels]="this.labelList" [currentIssue]="issue"
                                (messageEvent)="this.receiveMessage($event)" [selection]="this.attributeToEdit"
                                [ngStyle]="{'left':this.mouseX,'top':this.mouseY,'z-index':'100'}"></app-issue-settings-container>

  <div>
    <section class="clear">
      <div id="issue-header" class="issue-header">
        <input #titleInput class="title-input" *ngIf="this.editTitle" mat-input [value]="issue.node.title">
        <h1 #title *ngIf="!this.editTitle" id="issue-heading">{{issue.node.title}}</h1>
        <div id="issue-action">
          <button mat-flat-button *ngIf="!this.editTitle" color="primary" (click)="this.editIssueTitle()">Edit</button>
          <button mat-flat-button *ngIf="this.editTitle" (click)="this.editIssueTitle()">Cancel</button>
          <button mat-flat-button *ngIf="this.editTitle" (click)="this.editIssueTitle(true)" color="accent">Save
          </button>
        </div>

      </div>
      <div id="issue-state">
        <span *ngIf="issue.node.isOpen" class="customLabelOpen ">&nbsp;Open&nbsp;</span>
        <span *ngIf="!issue.node.isOpen" class="customLabelClosed ">&nbsp;Closed&nbsp;</span>
        <a class="author text-bold link-gray">&nbsp;{{issue.node.createdBy.username}} </a>&nbsp;opened this issue
        <time datetime="2020-08-06T08:54:30Z" title="Aug 6, 2020, 10:54 AM GMT+2">17 days ago</time>
        · 1 comment

      </div>
      <mat-divider style="margin-top:20px;"></mat-divider>
    </section>

    <section class="clear">
      <div class="issue-content">
        <div class="Box Box--condensed issue-body-box">
          <div class="Box-header d-flex flex-items-center">
            <h3 class="Box-title overflow-hidden flex-auto">
              <i><b>{{issue.node.createdBy.displayName}}</b></i>&nbsp;commented some time ago
            </h3>
            <button mat-flat-button (click)="this.editBody=!this.editBody">Edit</button>
          </div>
          <div *ngIf="!this.editBody" class="Box-body">
            {{issue.node.body}}
          </div>
          <div *ngIf="this.editBody" class="Box-body" [ngStyle]="{'height': (this.editBody) ? '280px' : 'auto'}">
            <textarea class="comment-text-area" matInput #bodyEdit>{{issue.node.body}}</textarea>
            <div class="edit-body-buttons">
              <button mat-raised-button (click)="this.editBody=!this.editBody">Cancel</button>
              <button mat-raised-button color="primary" (click)="this.EditIssueBody(bodyEdit.value)">Save</button>
            </div>
          </div>


        </div>

        <div *ngIf="this.projectComponents && this.issue.node.linksToIssues.nodes.length >0 "
             class="TimelineItem  issue-comment">
          <div class="Box Box--condensed">
            <div class="Box-header d-flex flex-items-center">
              <h3 class="Box-title overflow-hidden flex-auto">
                <b>Linked Issues</b>
              </h3>
            </div>
            <div class="Box-body">
              <div class="linked-issues-container">
                <mat-accordion>
                  <mat-expansion-panel *ngFor="let currentIssue of issue.node.linksToIssues.nodes">
                    <mat-expansion-panel-header>
                      <mat-panel-title>
                        {{currentIssue.componentName}}
                      </mat-panel-title>
                      <mat-panel-description>
                        {{currentIssue.title}}
                      </mat-panel-description>
                    </mat-expansion-panel-header>
                    <div style="width: 100%; height: 100%; text-align: left; ">
                      <p>{{currentIssue.body}}</p>
                    </div>

                  </mat-expansion-panel>

                </mat-accordion>
              </div>
            </div>
          </div>
        </div>


        <div *ngFor="let comment of issue.node.issueComments.nodes" class="TimelineItem issue-comment">
          <div class="Box Box--condensed">
            <div class="Box-header d-flex flex-items-center">
              <h3 class="Box-title overflow-hidden flex-auto">
                <i><b>{{comment.createdBy.displayName}}</b></i> commented on {{comment.createdAt}}
              </h3>
            </div>
            <div class="Box-body">
              {{comment.body}}
            </div>
          </div>
        </div>
        <mat-divider></mat-divider>
        <div class="Box Box--condensed issue-body-box comment-box-container">
          <div class="Box-header d-flex flex-items-center">
            <h3 class="Box-title overflow-hidden flex-auto">
              Comment this issue as <b>{{issue.node.createdBy.displayName}}</b>
            </h3>
          </div>
          <div class="Box-body clear">
            <textarea class="comment-text-area" matInput #comment></textarea>
            <div class="comment-buttons">
              <button *ngIf="issue.node.isOpen" mat-raised-button color="warn" (click)="this.closeIssue()">Close Issue
              </button>
              <button *ngIf="!issue.node.isOpen" mat-raised-button color="warn" (click)="this.reopenIssue()">Reopen
                Issue
              </button>
              <button mat-raised-button color="primary" (click)="this.commentIssue(comment.value)">Comment</button>
            </div>
          </div>
        </div>
      </div>

      <div class="issue-side-bar">
        <div class="issue-side-bar-row">
          <mat-label><b>Labels</b></mat-label>
          <button mat-icon-button aria-label="Edit" (click)="this.openSettings($event, selectionType.Labels)">
            <mat-icon>settings</mat-icon>
          </button>
          <br>
          <div class="clear" style="width: 100%;">
            <div class="issue-label"
                 *ngFor="let label of issue.node.labels.nodes"
                 [ngStyle]="{'background-color': label.color,'color':this.lightOrDark(label.color)}">
              <span>{{label.name}} </span>
            </div>
          </div>

          <mat-divider></mat-divider>
        </div>

        <div class="issue-side-bar-row">
          <mat-label><b>Assignees</b></mat-label>
          <button mat-icon-button aria-label="Edit" (click)="this.openSettings($event, selectionType.Assignees)">
            <mat-icon>settings</mat-icon>
          </button>
          <br>
          <span *ngFor="let assignee of issue.node.assignees.nodes">{{assignee.displayName}},&nbsp;</span>
          <mat-divider></mat-divider>
        </div>

        <div class="issue-side-bar-row">
          <mat-label><b>Linked By Issues</b></mat-label>

          <br>

          <p class="linked-issue-p" *ngFor="let linkedIssue of issue.node.linkedByIssues.nodes">
            <a [routerLink]="['/projects', this.activatedRoute.snapshot.paramMap.get('id'),
            'issues','component',this.getComponentId(linkedIssue.id),'issue',linkedIssue.id]">{{linkedIssue.title}},&nbsp;</a>
          </p>
          <mat-divider></mat-divider>
        </div>

        <div class="issue-side-bar-row">
          <mat-label><b>Links to Issues</b></mat-label>
          <button mat-icon-button aria-label="Edit" (click)="this.openSettings($event, selectionType.Link)">
            <mat-icon>settings</mat-icon>
          </button>
          <br>
          <p class="linked-issue-p" *ngFor="let linkedIssue of issue.node.linksToIssues.nodes">
            <a [routerLink]="['/projects', this.activatedRoute.snapshot.paramMap.get('id'),
          'issues','component',this.getComponentId(linkedIssue.id),'issue',linkedIssue.id]">{{linkedIssue.title}}
              ,&nbsp;</a></p>
          <mat-divider></mat-divider>
        </div>

        <div class="issue-side-bar-row">
          <mat-label><b>Interfaces, Artefacts & NFR</b></mat-label>
          <button mat-icon-button aria-label="Edit" (click)="this.openSettings($event, selectionType.Nfr)">
            <mat-icon>settings</mat-icon>
          </button>
          <br>
          <mat-divider></mat-divider>
        </div>


      </div>

    </section>


    <div>

    </div>

    <!--
    <div class="TimelineItem" >
      <div class="TimelineItem-badge">

        <svg class="octicon octicon-flame" viewBox="0 0 12 16" version="1.1" width="12" height="16" aria-hidden="true">
          <path fill-rule="evenodd"
            d="M5.05.31c.81 2.17.41 3.38-.52 4.31C3.55 5.67 1.98 6.45.9 7.98c-1.45 2.05-1.7 6.53 3.53 7.7-2.2-1.16-2.67-4.52-.3-6.61-.61 2.03.53 3.33 1.94 2.86 1.39-.47 2.3.53 2.27 1.67-.02.78-.31 1.44-1.13 1.81 3.42-.59 4.78-3.42 4.78-5.56 0-2.84-2.53-3.22-1.25-5.61-1.52.13-2.03 1.13-1.89 2.75.09 1.08-1.02 1.8-1.86 1.33-.67-.41-.66-1.19-.06-1.78C8.18 5.31 8.68 2.45 5.05.32L5.03.3l.02.01z">
          </path>
        </svg>
      </div>

      <div class="TimelineItem-body">
        <a href="#" class="text-bold link-gray-dark mr-1">Monalisa</a> created one
        <a href="#" class="text-bold link-gray-dark">hot potato</a>
        <a href="#" class="link-gray">Just now</a>
      </div>
    </div>
    <div class="TimelineItem issue-comment">
      <div class="Box Box--condensed">
        <div class="Box-header d-flex flex-items-center">
          <h3 class="Box-title overflow-hidden flex-auto">
            Box title
          </h3>
          <button class="btn btn-primary btn-sm">
            Button
          </button>
        </div>
        <div class="Box-body">
          Box body
        </div>
      </div>
    </div>
    <div class="TimelineItem issue-comment">
      <div class="Box Box--condensed">
        <div class="Box-header d-flex flex-items-center">
          <h3 class="Box-title overflow-hidden flex-auto">
            Box title
          </h3>
          <button class="btn btn-primary btn-sm">
            Button
          </button>
        </div>
        <div class="Box-body">
          Box body
        </div>
      </div>
    </div>
    -->
