

#issue-state, #issue-header{
  display: flex;
  text-align: center;
}

#issue-heading {
  display: inline;
  margin-right: 8px;
}
#issue-action {
  margin-left: auto;
}
.container-xl {
  max-width: 1280px;
  margin-right: auto;
  margin-left: auto;
}
