<h1 mat-dialog-title style="text-align: center;">Settings</h1>
<mat-list>
    <div><button class="button" mat-flat-button> <mat-icon> <span class="material-icons-outlined">
        account_circle
        </span> </mat-icon> Profile Settings</button></div>
    <div><button class="button" mat-flat-button> <mat-icon> <span class="material-icons-outlined">
        token
        </span></mat-icon> Access Token</button></div>
    <div><button class="button" mat-flat-button> <mat-icon> <span class="material-icons-outlined">
        dark_mode
        </span></mat-icon> Dark mode</button></div>
</mat-list>