<app-query-component errorMessage="Failed to load project information">
    <ng-template appQueryBody>
        <div class="project-overview-container">
            <div class="project-title-row">
                <div class="box">
                    <img src="https://github.com/github.png"/>
                </div>

                <div class="content">
                    <p class="title">{{project.current.name}}</p>
                    <div class="sub-sub-title">Project ID: {{project.current.id}}</div>
                </div>

                <div class="delete-button-container">
                    <button mat-raised-button (click)="this.deleteProject()" color="warn" title="Delete this project"
                            style="height: 100%">
                        <mat-icon>delete</mat-icon>
                    </button>
                </div>
            </div>

            <app-text-display [text]="description"
                              [onEditFinished]="projectNameEdited"
                              placeholder="No project description!"
                              labelText="Project description"></app-text-display>
        </div>
    </ng-template>
</app-query-component>
