<div>
  <div class="row gl-mb-3">
  <div class="home-panel-title-row col-md-12 col-lg-6 d-flex">
  <div class="avatar-container rect-avatar s64 home-panel-avatar gl-mr-3 float-none">
  <img alt="GitLab" class="avatar avatar-tile s64 js-lazy-loaded qa-js-lazy-loaded" src="https://assets.gitlab-static.net/uploads/-/system/project/avatar/278964/logo-extra-whitespace.png?width=64" loading="lazy" width="64" height="64">
  </div>
  <div class="d-flex flex-column flex-wrap align-items-baseline">
  <div class="d-inline-flex align-items-baseline">
  <h1 class="home-panel-title gl-mt-3 gl-mb-2" data-qa-selector="project_name_content">
  GitLab
  <span class="visibility-icon text-secondary gl-ml-2 has-tooltip" data-container="body" title="" data-original-title="Public - The project can be accessed without any authentication.">
  <svg class="s16 icon" data-testid="earth-icon"><use xlink:href="https://gitlab.com/assets/icons-81bca028cfa382a852fa2c8a6dfb4fb2b7467093d38f9fe9a07a519ca785299c.svg#earth"></use></svg>
  </span>

  </h1>
  </div>
  <div class="home-panel-metadata d-flex flex-wrap text-secondary">
  <span class="text-secondary">
  Project ID: 278964
  </span>
  </div>
  </div>
  </div>
  <div class="project-repo-buttons col-md-12 col-lg-6 d-inline-flex flex-wrap justify-content-lg-end">
  <div class="count-buttons d-inline-flex">
  <div class="count-badge d-inline-flex align-item-stretch gl-mr-3">
  <a class="btn btn-default btn-xs has-tooltip count-badge-button d-flex align-items-center star-btn" title="You must sign in to star a project" href="/users/sign_in"><svg class="s16 icon" data-testid="star-o-icon"><use xlink:href="https://gitlab.com/assets/icons-81bca028cfa382a852fa2c8a6dfb4fb2b7467093d38f9fe9a07a519ca785299c.svg#star-o"></use></svg>
  <span>Star</span>
  </a><span class="star-count count-badge-count d-flex align-items-center">
  <a title="Starrers" class="count" href="/gitlab-org/gitlab/-/starrers">2050
  </a></span>
  </div>


  </div>
  </div>
  </div>

  <div class="home-panel-home-desc mt-1">
  <div class="home-panel-description text-break">
  <div class="home-panel-description-markdown read-more-container">
  <p data-sourcepos="1:1-1:220" dir="auto">GitLab is an open source end-to-end software development platform with built-in version control, issue tracking, code review, CI/CD, and more. Self-host GitLab on your own servers, in a container, or on a cloud provider.</p>
  </div>
  <button class="btn btn-blank btn-link js-read-more-trigger d-lg-none" type="button">
  Read more
  </button>
  </div>

  </div>
  <div class="project-badges mb-2"><a class="gl-mr-3" href="https://gitlab.com/gitlab-org/gitlab/commits/master" rel="noopener noreferrer" target="_blank"><img alt="Project badge" aria-hidden="" class="project-badge" src="https://gitlab.com/gitlab-org/gitlab/badges/master/pipeline.svg"></a><a class="gl-mr-3" href="https://gitlab-org.gitlab.io/gitlab/coverage-ruby/" rel="noopener noreferrer" target="_blank"><img alt="Project badge" aria-hidden="" class="project-badge" src="https://gitlab.com/gitlab-org/gitlab/badges/master/coverage.svg?job=coverage&amp;key_text=Ruby%20Coverage&amp;key_width=90"></a><a class="gl-mr-3" href="https://gitlab-org.gitlab.io/gitlab/coverage-javascript/" rel="noopener noreferrer" target="_blank"><img alt="Project badge" aria-hidden="" class="project-badge" src="https://gitlab.com/gitlab-org/gitlab/badges/master/coverage.svg?job=coverage-frontend&amp;key_text=JS%20Coverage&amp;key_width=85"></a></div>
  </div>
