<div class="mat-toolbar-single-row"><h1 class="centered-headline">My Projects</h1>
</div>
<div class="list-headder">
  <h2 class="list-h2"> Project-List</h2>
  <button mat-raised-button color="accent" (click)="openCreateProjectDialog()"class="floating-button">Create Project</button>
</div>
<div class="listWrapper">
<nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
  <input type="text" [(ngModel)]="projectName" nz-input placeholder="input search text" />
</nz-input-group>
<ng-template #suffixIconButton>
  <button nz-button nzType="primary" [nzLoading]="pendingCreate" nzSearch><i nz-icon nzType="search"></i></button>
</ng-template>

<mat-nav-list class="mat-nav-list-padding-removed">
     <a *ngFor="let project of projects" mat-list-item [routerLink]="['/projects', project.id]">
     <span matLine>{{ project.name }}</span>
     <!--<button mat-icon-button>
        <mat-icon>info</mat-icon>
     </button>
    -->
     <button mat-icon-button (click)="remove($event, project)">
      <mat-icon>delete</mat-icon>
  </button>
  <mat-divider></mat-divider>
  </a>
</mat-nav-list>
</div>
