span[matLine] {
  padding-left: 16px;
}

.nz-input-group{
max-width: 100%;
}
.nz-input-group{
  max-width: 100%;
}
.listWrapper{
  max-width: 50%;
  //background-color: black;
  -webkit-box-shadow: 2px 3px 18px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 18px -6px rgba(0,0,0,0.75);
box-shadow: 2px 3px 18px -6px rgba(0,0,0,0.75);
margin-top: 15px;
margin-left: auto;
margin-right: auto;
}
.centered-headline{
  margin: auto;
}



.mat-nav-list-padding-removed{
  padding-top: 0px;
}
.floating-button{
float: right;
}
.list-header{
max-width: 50%;
margin-left: auto;
margin-right: auto;
height: 36px;
margin-bottom: 5px;
}
.list-h2{
  max-width: 50%;
  float: left;
  margin-bottom: 0px;
}

.links-actions {
  flex: 1;
  display: flex;
  justify-content: space-between;
}

:host ::ng-deep .mat-list-text {
  flex: 1;
}
