span[matLine] {
  padding-left: 16px;
}

.mat-nav-list {
max-width: 100%;

}
.nz-input-group{
max-width: 100%;
}
.nz-input-group{
  max-width: 100%;
}
.listWrapper{
  max-width: 50%;
  //background-color: black;
  -webkit-box-shadow: 2px 3px 18px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 18px -6px rgba(0,0,0,0.75);
box-shadow: 2px 3px 18px -6px rgba(0,0,0,0.75);
margin-top: 15px;
margin-left: auto;
margin-right: auto;
}
.centered-headline{
  margin: auto;
}

.mat-nav-list-padding-removed{
  padding-top: 0px;
}
.floating-button{
float: right;
}
.list-headder{
max-width: 50%;
margin-left: auto;
margin-right: auto;
height: 30px;
margin-bottom: 5px;
}
.list-h2{
  width: 20%;
  float: left;
  margin-bottom: 0px;
}
