<div class="mat-toolbar-single-row">
  <h1 class="centered-headline">My Projects</h1>
</div>
<div class="list-header">
  <h2 class="list-h2">Project-List</h2>
  <button mat-raised-button color="accent" id="buttonCreateProject" (click)="openCreateProjectDialog()"
          class="floating-button">Create Project
  </button>
  <!--  <button mat-raised-button color="primary" (click)="this.createDemoProject()"-->
  <!--          class="floating-button">Create Demo Project-->
  <!--  </button>-->
</div>
<div class="listWrapper">
  <nz-input-group nzSearch [nzAddOnAfter]="suffixIconButton">
    <input type="text" [(ngModel)]="projectName" nz-input placeholder="input search text"/>
  </nz-input-group>
  <ng-template #suffixIconButton>
    <button nz-button nzType="primary" [nzLoading]="pendingCreate" nzSearch><i nz-icon nzType="search"></i></button>
  </ng-template>

  
  <!-- list of projects -->
  <mat-nav-list class="mat-nav-list-padding-removed">
    <a *ngFor="let project of projects" mat-list-item [routerLink]="['/projects', project.id]">

      <!-- name of project -->
      <span matLine>{{ project.name }}</span>
      <a [routerLink]="['/projects', project.id,'graph']" mat-icon-button (click)="this.nothing($event)"
         title="Open project in graph view">
        <mat-icon class="graph-icon">account_tree</mat-icon>
      </a>
      <mat-divider></mat-divider>
    </a>
  </mat-nav-list>
</div>
