.dot {
  height: 10px;
  width: 10px;
  background-color: black;
  border-radius: 50%;
  display: inline-block;
}

.interface-box {
  background-color: rgb(0, 0, 0, 0.1);
  border-radius: 5px;
  text-align: center;
  margin: 2px;
  padding: 2px 4px 2px 4px;
}

.component-box {
  background-color: rgb(9, 109, 217, 0.5);
  border-color: black;
  border-width: 2px;
  border-style: solid;
  border-radius: 5px 5px 5px 5px;
  text-align: center;
  margin: 2px;
}

.component-text {
  font-size: 11pt;
  font-family: "Arial Narrow", Arial, sans-serif;
  color: black;
}
