.stretch {
  min-width: 600px;
}
.pagefill {
  width: 100%;

}
.description-field {
  min-height: 200px;
}

.component-title{
  width: 100%;
  text-align: center;
  margin-top: 15px;
}
.form-custom {
  margin-top: 20px;
}
