<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#"><mat-icon>info</mat-icon>Overview</a>
      <a mat-list-item href="#"><mat-icon>account_tree</mat-icon>Graph</a>
      <a mat-list-item href="#"><mat-icon>bug_report</mat-icon>Issues</a>
      <a mat-list-item href="#"><mat-icon>group</mat-icon>Members</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Toggle sidenav"
      (click)="drawer.toggle()"
      *ngIf="isHandset$ | async">
        <mat-icon>menu</mat-icon>
      </button>
      <!--<span>CCIMS</span>-->
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Home icon-button with a house">
        <mat-icon>home</mat-icon>
      </button>
      <span id="current-project">LLVM (Project)</span>
      <!--<span class="toolbar-spacer"></span>-->
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>settings</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>account_circle</mat-icon>
      </button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
