<app-top-toolbar (menuClick)="drawer.toggle()"></app-top-toolbar>
<mat-sidenav-container class="sidenav-container">
  <!--if you set fixedInViewPort on the sidenav it will appear to the left of the mat-tooblar instead of under it-->
  <mat-sidenav #drawer class="sidenav" [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'" [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Menu</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="#">
        <mat-icon>info</mat-icon>Overview
      </a>
      <a mat-list-item href="#">
        <mat-icon>account_tree</mat-icon>Graph
      </a>
      <a mat-list-item href="#">
        <mat-icon>bug_report</mat-icon>Issues
      </a>
      <a mat-list-item href="#">
        <mat-icon>group</mat-icon>Members
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
