.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}


.mat-nav-list mat-icon {
  color: rgba(0, 0, 0, 0.54);
  padding-right: 20px;
  padding-left: 4px;
}

.toolbar-spacer {
  flex: 1 1 auto;
}

.mat-toolbar {
  justify-content: space-between;
}
#current-project {
  font-size: 12px;
  border: 3px solid white;
  border-radius: 0.5em;
  padding: 0px 4px 0px 4px;
  margin: auto;
}
