<div class="dialog-wrapper">
    <h1 mat-dialog-title>Create Component</h1>
    <div mat-dialog-content>
        <form>
            <mat-form-field class="stretch" appearance="outline">
                <mat-label>Name</mat-label>
                <input #name required matInput [formControl]="validationName">
                <mat-error *ngIf="validationName.invalid">Invalid component name</mat-error>
            </mat-form-field>

            <mat-form-field class="stretch" appearance="outline">
                <mat-label>Repository-URL</mat-label>
                <input readonly="false" #url required matInput [formControl]="validationUrl">
                <mat-error *ngIf="validationUrl.invalid">Enter a valid URL</mat-error>
            </mat-form-field>

            <mat-form-field appearance="outline">
                <mat-label>Provider Type (IMS)</mat-label>
                <mat-select #provider [formControl]="validationProvider" required>
                    <mat-option value="GITHUB">GitHub</mat-option>
                </mat-select>
                <mat-error *ngIf="validationProvider.invalid">Select the Provider</mat-error>
            </mat-form-field>

            <mat-form-field class="stretch" appearance="outline">
                <mat-label>IMS-URL</mat-label>
                <input #ims required matInput [formControl]="validationIMS">
                <mat-error *ngIf="validationIMS.invalid">Enter a valid URL</mat-error>
            </mat-form-field>

            <mat-form-field class="stretch" appearance="outline">
                <mat-label>Description</mat-label>
                <textarea style="height: 66px;" #description matInput [formControl]="validationDescription"></textarea>
            </mat-form-field>
        </form>
    </div>
    <div mat-dialog-actions class="actions" style="justify-content: flex-end;">
        <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
        <app-query-component errorMessage="Failed to create component!">
            <button appQueryButton mat-raised-button color="success"
                    [disabled]="validationName.invalid ||
                        validationUrl.invalid ||
                        validationIMS.invalid ||
                        validationProvider.invalid"
                    (click)="onOkClick(name.value, url.value, description.value, ims.value, provider.value)">
                Create
            </button>
        </app-query-component>
    </div>
</div>
