/* You can add global styles to this file, and also import other style files */
@import "@angular/material/prebuilt-themes/indigo-pink.css";
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.canvas-background {
  height: 100%;
  width: 100% ;
  background-image: url(assets/network-5593599_1920.jpg);
}

.form-container {
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 600px;

  background-color: white;
  height: auto;
  -webkit-box-shadow: 2px 3px 18px -6px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 3px 18px -6px rgba(0,0,0,0.75);
box-shadow: 2px 3px 18px -6px rgba(0,0,0,0.75);
padding-bottom: 20px;
}
.logo-wrapper {
  height: auto;
  width: 100%;
}
.logo {
  background-image: url(/assets/CCIMS.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 80px;
  margin: auto;
}
.headline {
  height: auto;
  text-align: center;
}
