<div #frame class="frame" [style.width.px]="width" [style.height.px]="height">
    <div style="height: calc(100% - 20px); overflow: hidden">
        <div class="center-horizontal" *ngIf="nodeDetailsReady && nodeDetails.getNodeName()">
            <h1 style="margin: 4px">{{this.nodeDetails.getNodeName()}}</h1>
            <mat-divider></mat-divider>
        </div>
        <app-node-details [nodeId]="data.nodeId" [nodeType]="data.type" [callback]="detailsCallback"></app-node-details>
    </div>

    <div style="width: 100%; height: 20px; display: inline-block;">
        <span style="font-size: .8em">{{this.data.nodeId}}</span>
        <span #resizeCorner
              style="float: right; user-select: none; width: 10px; height: 10px; margin-right: 8px">
                    <mat-icon>south_east</mat-icon>
                </span>
    </div>
</div>


