<div #frame class="frame" [style.width.px]="width" [style.height.px]="height">
    <div style="height: calc(100% - 20px); overflow: hidden">
        <div class="node-title" *ngIf="nodeDetailsReady && nodeDetails.getNodeName()">
            <h1 style="overflow: hidden;  text-overflow: ellipsis;">{{this.nodeDetails.getNodeName()}}</h1>
        </div>
        <div class="container">
            <app-node-details [projectId]="data.projectId" [nodeId]="data.nodeId" [nodeType]="data.type"
                              [callback]="detailsCallback"></app-node-details>
        </div>
    </div>

    <div style="width: 100%; height: 20px; display: inline-block;">
        <span style="font-size: .8em">{{this.data.nodeId}}</span>
        <span #resizeCorner style="position: absolute; bottom: 0; right: 4px; user-select: none">
            <svg width="10" height="10" xmlns="http://www.w3.org/2000/svg">
                <g transform="rotate(-45 9.60526 5.10526)" id="svg_15">
                   <line x1="-5.39474" y1="2.10526" y2="2.10526" stroke="#000" x2="24.60526" fill="none"/>
                   <line x1="-5.39474" stroke="#000" y2="5.10526" x2="24.60526" y1="5.10526" fill="none"/>
                   <line x1="-5.39474" stroke="#000" y2="5.10526" x2="24.60526" y1="5.10526" fill="none"/>
                   <line x1="-5.39474" stroke="#000" y2="8.10526" x2="24.60526" y1="8.10526" fill="none"/>
                </g>
            </svg>
        </span>
    </div>
</div>


