@import "src/styles/variables";

.frame {
  padding: 6px;
  background-color: $background-controls;
  border-radius: 5px;
  box-shadow: 0 0 8px 0 #000000;
}

.center-horizontal {
  width: 100%;
  text-align: center;
}
