.centered-div {
  display: flex;
  align-items: center;
  float: right;
  height:60px;
  margin-left: 1px;
}
.mat-dialog-content {
  margin-top: 20px;
  border-top: lightgray;
  border-top-style: solid;
  border-bottom: lightgray;
  border-bottom-style: solid;
}
.svg-container {
  float: left;
  margin-left: -15px;
}
