.centered-div {
  display: flex;
  align-items: center;
  float: right;
  height:80px
}
.mat-dialog-content {
  margin-top: 20px;
  border-top: lightgray;
  border-top-style: solid;
  border-bottom: lightgray;
  border-bottom-style: solid;
}
