<h1 mat-dialog-title>Create Issue</h1>
  <div mat-dialog-content>
  <form [formGroup]="validateForm">
  <mat-form-field class="stretch" appearance="outline">
    <mat-label>Title</mat-label>
    <input #title reqired matInput  [formControl]="validationTitle" >
    <mat-error *ngIf="validationTitle.invalid">Type in a title</mat-error>
  </mat-form-field>

  <mat-form-field class="stretch body" appearance="outline">
    <mat-label>Body</mat-label>
    <textarea style="height: 66px;" #body matInput [formControl]="validationBody"></textarea>
    <!--<input #body reqired matInput  [formControl]="validationBody" >-->
    <mat-error *ngIf="validationBody.invalid">Body is required</mat-error>
  </mat-form-field>

  <mat-form-field  appearance="outline">
    <mat-label>Category</mat-label>
    <mat-select  #category [formControl]="validationCategory" required>
      <mat-option value="UNCLASSIFIED">Undefined</mat-option>
        <mat-option value="BUG">Bug</mat-option>
        <mat-option value="FEATURE_REQUEST">Feature Request</mat-option>
    </mat-select>
</mat-form-field>

<ng-select  [dropdownPosition]="'top'" [multiple]="true" [(ngModel)]="this.selectedLabels" [ngModelOptions]="{standalone: true}" placeholder="Select Labels">
  <ng-option *ngFor="let label of this.labels" [value]="label.id" >{{label.name}}</ng-option>
</ng-select>

<ng-select class="adding-margin" [dropdownPosition]="'top'" [multiple]="true" [(ngModel)]="this.selectedAssignees" [ngModelOptions]="{standalone: true}" placeholder="Select Assignees">
  <ng-option *ngFor="let assignee of this.assignees" [value]="assignee.id" >{{assignee.name}}</ng-option>
</ng-select>

  <nz-alert *ngIf="this.saveFailed" class="error-message" nzType="error" nzMessage="Something went wrong" nzShowIcon nzCloseable (nzOnClose)="afterAlertClose()"></nz-alert>
</form>


</div>
<div mat-dialog-actions>
  <button mat-button (click)="onNoClick()">Cancel</button>
  <button mat-button [class.spinner]="loading" [disabled]="loading || validationTitle.invalid || validationBody.invalid || validationCategory.invalid" (click)="onOkClick(title.value,body.value, category.value)">Create</button>
</div>
