@import 'src/styles/dialog';

.category-selector {
  width: 100%;
  margin-bottom: 8px;

  mat-button-toggle {
    width: 100%;

    ::ng-deep &.mat-button-toggle-checked {
      font-weight: 600;
    }
  }
}

@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}
