<h1 mat-dialog-title>Create Issue</h1>
<div mat-dialog-content>
  <form>
    <mat-form-field class="stretch" appearance="outline">
      <mat-label>Title</mat-label>
      <input matInput [formControl]="title" required>
      <mat-error *ngIf="title.invalid">Invalid issue title</mat-error>
    </mat-form-field>

    <app-markdown-editor #body></app-markdown-editor>

    <mat-button-toggle-group class="category-selector" [formControl]="category" required>
      <mat-button-toggle value="UNCLASSIFIED">
        <mat-icon [svgIcon]="'issue-uncategorized'"></mat-icon>
        Uncategorized
      </mat-button-toggle>
      <mat-button-toggle value="BUG">
        <mat-icon [svgIcon]="'issue-bug'"></mat-icon>
        Bug
      </mat-button-toggle>
      <mat-button-toggle value="FEATURE_REQUEST">
        <mat-icon [svgIcon]="'issue-feature'"></mat-icon>
        Feature Request
      </mat-button-toggle>
    </mat-button-toggle-group>

    <app-issue-sidebar [(localIssue)]="issueData" [projectId]="data.projectId"></app-issue-sidebar>

    <nz-alert *ngIf="this.saveFailed" class="error-message" nzType="error" nzMessage="Something went wrong" nzShowIcon
              nzCloseable (nzOnClose)="afterAlertClose()"></nz-alert>
  </form>

</div>
<div mat-dialog-actions class="actions">
  <button mat-raised-button color="warn" (click)="onNoClick()">Cancel</button>
  <button mat-raised-button color="success" [class.spinner]="loading"
          [disabled]="loading || title.invalid || category.invalid"
          (click)="onCreate()">Create
  </button>

</div>
