

<!------ Include the above in your HEAD tag ---------->

<div *ngIf="timelineItems$.hasData">
  <div class="container">
    <div class="page-header">
    </div>

<ul class="timeline">
  <li *ngFor="let timelineItem of timelineItems" [ngSwitch]="timelineItem.type" class="timeline-inverted">
    <!-- Icons in the timeline -->
    <div class="timeline-badge" *ngSwitchCase="'AddedToComponentEvent'"><mat-icon>add</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'RemovedFromComponentEvent'"><mat-icon>remove</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'AddedToLocationEvent'"><mat-icon>add</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'RemovedFromLocationEvent'"><mat-icon>remove</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'ClosedEvent'"><mat-icon>task_alt</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'ReopenedEvent'"><mat-icon>add_task</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'AssignedEvent'"><mat-icon>person_add</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'UnassignedEvent'"><mat-icon>person_remove</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'CategoryChangedEvent'"><mat-icon>category</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'DueDateChangedEvent'"><mat-icon>event</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'EstimatedTimeChangedEvent'"><mat-icon>date_range</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'LabelledEvent'"><mat-icon>new_label</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'UnlabelledEvent'"><mat-icon>label</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'DeletedIssueComment'"><mat-icon>speaker_notes_off</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'MarkedAsDuplicateEvent'"><mat-icon>plagiarism</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'UnmarkedAsDuplicateEvent'"><mat-icon>file_copy</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'LinkEvent'"><mat-icon>add_link</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'UnlinkEvent'"><mat-icon>link_off</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'PinnedEvent'"><mat-icon>push_pin</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'UnpinnedEvent'"><mat-icon>push_pin</mat-icon></div>
    <div class="timeline-badge warning" *ngSwitchCase="'ReferencedByIssueEvent'"><mat-icon>switch_access_shortcut_add</mat-icon></div>
    <div class="timeline-badge warning" *ngSwitchCase="'ReferencedByOtherEvent'"><mat-icon>switch_access_shortcut</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'StartDateChangedEvent'"><mat-icon>event</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'PriorityChangedEvent'"><mat-icon>reorder</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'RenamedTitleEvent'"><mat-icon>drive_file_rename_outline</mat-icon></div>
    <div class="timeline-badge warning" *ngSwitchCase="'WasLinkedEvent'"><mat-icon>add_link</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'WasUnlinkedEvent'"><mat-icon>link_off</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'AddedArtifactEvent'"><mat-icon>data_object</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'RemovedArtifactEvent'"><mat-icon>data_object</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'AddedNonFunctionalConstraintEvent'"><mat-icon>border_style</mat-icon></div>
    <div class="timeline-badge" *ngSwitchCase="'RemovedNonFunctionalConstraintEvent'"><mat-icon>border_style </mat-icon></div>


    <!-- Contents of timeline items -->

    <div class="commentContainer" *ngSwitchCase="'IssueComment'">
      <app-comment [commentId]="makeCommentId(timelineItem.item)"></app-comment>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'ClosedEvent'">
      <div class="timeline-body">
        Issue was closed by <a>{{timelineItem.item.createdBy.displayName}}</a>
        <br>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-right: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'AssignedEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.assignee; else isNull">
          <div *ngIf="selfAssigned(timelineItem.item); else notSelfAssigned">
            <a>{{timelineItem.item.createdBy.displayName}}</a> self-assigned this issue
          </div>
          <ng-template #notSelfAssigned>
            <a>{{timelineItem.item.createdBy.displayName}}</a> assigned this issue to <a>{{timelineItem.item.assignee.displayName}}</a>
          </ng-template>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> assigned this issue to <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-right: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'DueDateChangedEvent'">
      <div class="timeline-body">
        <a>{{timelineItem.item.createdBy.displayName}}</a> changed due date from <a>{{timelineItem.item.oldDueDate}}</a>
        to <a>{{timelineItem.item.newDueDate}}</a><br>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'EstimatedTimeChangedEvent'">
      <div class="timeline-body">
        <a>{{timelineItem.item.createdBy.displayName}}</a> changed time estimate from <a>{{timelineItem.item.oldEstimatedTime}}</a>
        to <a>{{timelineItem.item.newEstimatedTime}}</a><br>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'LabelledEvent'">
      <div class="timeline-body">
        <div *ngIf="timelineItem.isCoalesced; else singleLabel">
          <a>{{timelineItem.user}}</a> added Labels
          <span style="display: inline-block" *ngFor="let node of timelineItem.item">
            <app-issue-label [label]="node.label"></app-issue-label>
          </span>
        </div>

        <ng-template #singleLabel>
          <div *ngIf="!!timelineItem.item.label; else isNull">
            <a>{{timelineItem.item.createdBy.displayName}}</a> added Label
            <span style="display: inline-block">
              <app-issue-label [label]="timelineItem.item.label"></app-issue-label>
            </span>
          </div>
          <ng-template #isNull>
            <a>{{timelineItem.user}}</a> added Label <a>deleted</a>
          </ng-template>
        </ng-template>

        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.time" [title]="this.timeFormatter.formatTime(timelineItem.time)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.time)}}
          </time>
        </small>
      </div>
    </div>


    <div class="timeline-panel" *ngSwitchCase="'DeletedIssueComment'">
      <div class="timeline-body">
        <a>{{timelineItem.item.deletedBy.displayName}}</a> deleted comment <a>{{timelineItem.item.id}}</a>
        by <a>{{timelineItem.item.createdBy.displayName}}</a>
        <br>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'MarkedAsDuplicateEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.originalIssue; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> marked issue as duplicate of
          <app-issue-item [issue]="timelineItem.item.originalIssue" [interactive]="true" [projectId]="projectID"></app-issue-item>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> marked issue as duplicate of <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'LinkEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.item.linkedIssue; else isNull">
          <a>{{timelineItem.item.item.createdBy.displayName}}</a> linked issue to issue
            <app-issue-item [issue]="timelineItem.item.item.linkedIssue" [interactive]="true" [projectId]="projectID"></app-issue-item>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.item.createdBy.displayName}}</a> linked issue to <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'PinnedEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.component; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> pinned issue on component
          <a (click)="goToComponentDetails(timelineItem.item.component)">{{timelineItem.item.component.name}}</a>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> pinned issue on <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'ReferencedByIssueEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.mentionedAt; else isNull">
          This issue was referenced by issue
          <app-issue-item [issue]="timelineItem.item.mentionedAt" [interactive]="true" [projectId]="projectID"></app-issue-item>
          in comment <a>{{timelineItem.item.mentionedInComment?.id}}</a>
          by <a>{{timelineItem.item.createdBy?.displayName}}</a>
        </div>
        <ng-template #isNull>
          This issue was referenced by issue <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'PriorityChangedEvent'">
      <div class="timeline-body">
        <a>{{timelineItem.item.createdBy.displayName}}</a> changed priority from <a>{{timelineItem.item.oldPriority}}</a>
        to <a>{{timelineItem.item.newPriority}}</a>
        <br>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'RemovedFromComponentEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.component; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> removed issue from component
          <a (click)="goToComponentDetails(timelineItem.item.component)">{{timelineItem.item.component.name}}</a>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> removed issue from component <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'ReferencedByOtherEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.component; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> referenced this issue in component
          <a (click)="goToComponentDetails(timelineItem.item.component)">{{timelineItem.item.component.name}}</a>
          with <a href="{{timelineItem.item.sourceURL}}">{{timelineItem.item.source}}</a>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> referenced this issue in component <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'RemovedFromLocationEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.removedLocation; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> removed this issue from location
          <a (click)="goToLocationDetails(timelineItem.item.removedLocation)">{{timelineItem.item.removedLocation.name}}</a>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> removed this issue from location <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'ReopenedEvent'">
      <div class="timeline-body">
        <a>{{timelineItem.item.createdBy.displayName}}</a> reopened issue
        <br>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'StartDateChangedEvent'">
      <div class="timeline-body">
        <a>{{timelineItem.item.createdBy.displayName}}</a> changed start date from <a>{{timelineItem.item.oldStartDate}}</a>
        to <a>{{timelineItem.item.newStartDate}}</a>
        <br>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'RenamedTitleEvent'">
      <div class="timeline-body">
        <a>{{timelineItem.item.createdBy.displayName}}</a> changed title of issue from <a>{{timelineItem.item.oldTitle}}</a>
        to <a>{{timelineItem.item.newTitle}}</a>
        <br>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'UnassignedEvent'">
      <div class="timeline-body">
        <div *ngIf="selfAssigned(timelineItem.item); else notSelfAssigned">
          <a>{{timelineItem.item.createdBy.displayName}}</a> self-unassigned
        </div>
        <ng-template #notSelfAssigned>
          <div *ngIf="!!timelineItem.item.removedAssignee; else isNull">
            <a>{{timelineItem.item.createdBy.displayName}}</a> unassigned <a>{{timelineItem.item.removedAssignee.displayName}}</a>
          </div>
          <ng-template #isNull>
            <a>{{timelineItem.item.createdBy.displayName}}</a> unassigned <a>deleted User</a>
          </ng-template>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-right: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'UnlabelledEvent'">
      <div class="timeline-body">
        <div *ngIf="timelineItem.isCoalesced; else singleLabel">
          <a>{{timelineItem.user}}</a> removed Labels
          <span style="display: inline-block" *ngFor="let node of timelineItem.item">
            <app-issue-label [label]="node.removedLabel"></app-issue-label>
          </span>
        </div>

        <ng-template #singleLabel>
          <div *ngIf="!!timelineItem.item.removedLabel; else isNull">
            <a>{{timelineItem.item.createdBy.displayName}}</a> removed Label
            <span style="display: inline-block">
              <app-issue-label [label]="timelineItem.item.removedLabel"></app-issue-label>
            </span>
          </div>
          <ng-template #isNull>
            <a>{{timelineItem.user}}</a> removed Label <a>deleted</a>
          </ng-template>
        </ng-template>

        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.time" [title]="this.timeFormatter.formatTime(timelineItem.time)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.time)}}
          </time>
        </small>
      </div>
    </div>
    
    <div class="timeline-panel" *ngSwitchCase="'WasLinkedEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.linkedBy; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> linked issue
          <app-issue-item [issue]="timelineItem.item.linkedBy" [interactive]="true" [projectId]="projectID"></app-issue-item>
          to this issue
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> linked issue <a>deleted</a>
          to this issue
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'UnmarkedAsDuplicateEvent'">
      <div class="timeline-body">
        <a>{{timelineItem.item.createdBy.displayName}}</a> unmarked this issue as duplicate
        <br>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'WasUnlinkedEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.unlinkedBy; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> unlinked this issue in issue
          <app-issue-item [issue]="timelineItem.item.unlinkedBy" [interactive]="true" [projectId]="projectID"></app-issue-item>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> unlinked this issue in issue <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'PinnedEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.component; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> unpinned this issue in
          <a (click)="goToComponentDetails(timelineItem.item.component)">{{timelineItem.item.component.name}}</a>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> unpinned this issue in <a>deleted component</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'UnlinkEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.removedLinkedIssue; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> removed link to issue
          <app-issue-item [issue]="timelineItem.item.removedLinkedIssue" [interactive]="true" [projectId]="projectID"></app-issue-item>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> removed link to issue <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'AddedArtifactEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.removedLinkedIssue; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> added artifact <a>{{timelineItem.item.artifact.id}}</a>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> added artifact <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'RemovedArtifactEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.removedLinkedIssue; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> removed artifact <a>{{timelineItem.item.removedArtifact.id}}</a>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> removed artifact <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'AddedNonFunctionalConstraintEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.nonFunctionalConstraint; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> added non functional constraint <a>{{timelineItem.item.nonFunctionalConstraint.id}}</a>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> added non functional constraint <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>


    <div class="timeline-panel" *ngSwitchCase="'RemovedNonFunctionalConstraintEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.removedNonFunctionalConstraint; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> removed non functional constraint <a>{{timelineItem.item.removedNonFunctionalConstraint.id}}</a>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> removed non functional constraint <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'AddedToComponentEvent'">
        <div class="timeline-body">
          <div *ngIf="!!timelineItem.item.component; else isNull">
            <a>{{timelineItem.item.createdBy.displayName}}</a> added this issue to component
            <a (click)="goToComponentDetails(timelineItem.item.component)">{{timelineItem.item.component.name}}</a>
          </div>
          <ng-template #isNull>
            <a>{{timelineItem.item.createdBy.displayName}}</a> added this issue to component <a>deleted</a>
          </ng-template>
          <small class="text-muted" style="margin-left: 5px">
            <i class="glyphicon glyphicon-time" style="margin-right: 2px"></i>
            <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
              {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
            </time>
          </small>
        </div>
      </div>

    <div class="timeline-panel" *ngSwitchCase="'CategoryChangedEvent'">
      <div class="timeline-body">
        <a>{{timelineItem.item.createdBy.displayName}}</a> changed category from <a>{{timelineItem.item.oldCategory}}</a>
        to <a>{{timelineItem.item.newCategory}}</a>
        <br>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-left: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>

    <div class="timeline-panel" *ngSwitchCase="'AddedToLocationEvent'">
      <div class="timeline-body">
        <div *ngIf="!!timelineItem.item.location; else isNull">
          <a>{{timelineItem.item.createdBy.displayName}}</a> added this issue to location
          <a (click)="goToLocationDetails(timelineItem.item.location)">{{timelineItem.item.location.name}}</a>
        </div>
        <ng-template #isNull>
          <a>{{timelineItem.item.createdBy.displayName}}</a> added this issue to location <a>deleted</a>
        </ng-template>
        <small class="text-muted">
          <i class="glyphicon glyphicon-time" style="margin-right: 2px"></i>
          <time [dateTime]="timelineItem.item.createdAt" [title]="this.timeFormatter.formatTime(timelineItem.item.createdAt)">
            {{this.timeFormatter.formatTimeDifference(timelineItem.item.createdAt)}}
          </time>
        </small>
      </div>
    </div>
  </li>
</ul>
  </div>
</div>

