<!--Timeline of a given issue showing all its events-->
<app-query-component errorMessage="Failed to load timeline items">
  <ng-template appQueryBody>
    <div class="container">
      <div class="page-header"></div>

      <ul class="timeline">
        <li *ngFor="let timelineItem of timelineItems" [ngSwitch]="timelineItem.type" class="timeline-inverted">
          <!--Icons used in the timeline-->
          <div class="timeline-badge" *ngSwitchCase="'AddedToComponentEvent'">
            <mat-icon>add</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'RemovedFromComponentEvent'">
            <mat-icon>remove</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'AddedToLocationEvent'">
            <mat-icon>add</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'RemovedFromLocationEvent'">
            <mat-icon>remove</mat-icon>
          </div>
          <div class="timeline-badge closed" *ngSwitchCase="'ClosedEvent'">
            <mat-icon>task_alt</mat-icon>
          </div>
          <div class="timeline-badge reopened" *ngSwitchCase="'ReopenedEvent'">
            <mat-icon>add_task</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'AssignedEvent'">
            <mat-icon>person_add</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'UnassignedEvent'">
            <mat-icon>person_remove</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'CategoryChangedEvent'">
            <mat-icon>category</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'DueDateChangedEvent'">
            <mat-icon>event</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'EstimatedTimeChangedEvent'">
            <mat-icon>date_range</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'LabelledEvent'">
            <mat-icon>new_label</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'UnlabelledEvent'">
            <mat-icon>label</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'DeletedIssueComment'">
            <mat-icon>speaker_notes_off</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'MarkedAsDuplicateEvent'">
            <mat-icon>plagiarism</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'UnmarkedAsDuplicateEvent'">
            <mat-icon>file_copy</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'LinkEvent'">
            <mat-icon>add_link</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'UnlinkEvent'">
            <mat-icon>link_off</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'PinnedEvent'">
            <mat-icon>push_pin</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'UnpinnedEvent'">
            <mat-icon>push_pin</mat-icon>
          </div>
          <div class="timeline-badge warning" *ngSwitchCase="'ReferencedByIssueEvent'">
            <mat-icon>switch_access_shortcut_add</mat-icon>
          </div>
          <div class="timeline-badge warning" *ngSwitchCase="'ReferencedByOtherEvent'">
            <mat-icon>switch_access_shortcut</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'StartDateChangedEvent'">
            <mat-icon>event</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'PriorityChangedEvent'">
            <mat-icon>reorder</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'RenamedTitleEvent'">
            <mat-icon>drive_file_rename_outline</mat-icon>
          </div>
          <div class="timeline-badge warning" *ngSwitchCase="'WasLinkedEvent'">
            <mat-icon>add_link</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'WasUnlinkedEvent'">
            <mat-icon>link_off</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'AddedArtifactEvent'">
            <mat-icon>data_object</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'RemovedArtifactEvent'">
            <mat-icon>data_object</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'AddedNonFunctionalConstraintEvent'">
            <mat-icon>border_style</mat-icon>
          </div>
          <div class="timeline-badge" *ngSwitchCase="'RemovedNonFunctionalConstraintEvent'">
            <mat-icon>border_style</mat-icon>
          </div>

          <!--Timeline events-->

          <div class="commentContainer" *ngSwitchCase="'IssueComment'">
            <app-comment [commentId]="makeCommentId(timelineItem.item)" [issueId]="issueId"
                         [isIssueBody]="false"></app-comment>
          </div>

          <app-timeline-event-closed class="fill-width" [timelineItem]="timelineItem" *ngSwitchCase="'ClosedEvent'">
          </app-timeline-event-closed>

          <app-timeline-event-assigned class="fill-width" [timelineItem]="timelineItem" *ngSwitchCase="'AssignedEvent'">
          </app-timeline-event-assigned>

          <app-timeline-event-due-date-changed class="fill-width" [timelineItem]="timelineItem"
                                               *ngSwitchCase="'DueDateChangedEvent'">
          </app-timeline-event-due-date-changed>

          <app-timeline-event-estimated-time-changed class="fill-width" [timelineItem]="timelineItem"
                                                     *ngSwitchCase="'EstimatedTimeChangedEvent'">
          </app-timeline-event-estimated-time-changed>

          <app-timeline-event-labelled class="fill-width" [timelineItem]="timelineItem" *ngSwitchCase="'LabelledEvent'">
          </app-timeline-event-labelled>

          <app-timeline-event-deleted-issue-comment class="fill-width" [timelineItem]="timelineItem"
                                                    *ngSwitchCase="'DeletedIssueComment'">
          </app-timeline-event-deleted-issue-comment>

          <app-timeline-event-marked-duplicate class="fill-width" [timelineItem]="timelineItem" [projectID]="projectID"
                                               *ngSwitchCase="'MarkedAsDuplicateEvent'">
          </app-timeline-event-marked-duplicate>

          <app-timeline-event-link class="fill-width" [timelineItem]="timelineItem" [projectID]="projectID"
                                   *ngSwitchCase="'LinkEvent'">
          </app-timeline-event-link>

          <app-timeline-event-pinned class="fill-width" [timelineItem]="timelineItem" [projectID]="projectID"
                                     *ngSwitchCase="'PinnedEvent'">
          </app-timeline-event-pinned>

          <app-timeline-event-referenced-by-issue class="fill-width" [timelineItem]="timelineItem"
                                                  [projectID]="projectID" *ngSwitchCase="'ReferencedByIssueEvent'">
          </app-timeline-event-referenced-by-issue>

          <app-timeline-event-priority-changed class="fill-width" [timelineItem]="timelineItem"
                                               *ngSwitchCase="'PriorityChangedEvent'">
          </app-timeline-event-priority-changed>

          <app-timeline-event-removed-from-component class="fill-width" [timelineItem]="timelineItem"
                                                     [projectID]="projectID"
                                                     *ngSwitchCase="'RemovedFromComponentEvent'">
          </app-timeline-event-removed-from-component>

          <app-timeline-event-referenced-by-other class="fill-width" [timelineItem]="timelineItem"
                                                  [projectID]="projectID" *ngSwitchCase="'ReferencedByOtherEvent'">
          </app-timeline-event-referenced-by-other>

          <app-timeline-event-removed-from-location class="fill-width" [timelineItem]="timelineItem"
                                                    [projectID]="projectID" *ngSwitchCase="'RemovedFromLocationEvent'">
          </app-timeline-event-removed-from-location>

          <app-timeline-event-reopened class="fill-width" [timelineItem]="timelineItem" *ngSwitchCase="'ReopenedEvent'">
          </app-timeline-event-reopened>

          <app-timeline-event-start-date-changed class="fill-width" [timelineItem]="timelineItem"
                                                 *ngSwitchCase="'StartDateChangedEvent'">
          </app-timeline-event-start-date-changed>

          <app-timeline-event-renamed class="fill-width" [timelineItem]="timelineItem"
                                      *ngSwitchCase="'RenamedTitleEvent'">
          </app-timeline-event-renamed>

          <app-timeline-event-unassigned class="fill-width" [timelineItem]="timelineItem"
                                         *ngSwitchCase="'UnassignedEvent'">
          </app-timeline-event-unassigned>

          <app-timeline-event-unlabelled class="fill-width" [timelineItem]="timelineItem"
                                         *ngSwitchCase="'UnlabelledEvent'">
          </app-timeline-event-unlabelled>

          <app-timeline-event-was-linked class="fill-width" [timelineItem]="timelineItem" [projectID]="projectID"
                                         *ngSwitchCase="'WasLinkedEvent'">
          </app-timeline-event-was-linked>

          <app-timeline-event-unmarked-duplicate class="fill-width" [timelineItem]="timelineItem"
                                                 *ngSwitchCase="'UnmarkedAsDuplicateEvent'">
          </app-timeline-event-unmarked-duplicate>

          <app-timeline-event-was-unlinked class="fill-width" [timelineItem]="timelineItem" [projectID]="projectID"
                                           *ngSwitchCase="'WasUnlinkedEvent'">
          </app-timeline-event-was-unlinked>

          <app-timeline-event-unpinned class="fill-width" [timelineItem]="timelineItem" [projectID]="projectID"
                                       *ngSwitchCase="'UnpinnedEvent'">
          </app-timeline-event-unpinned>

          <app-timeline-event-unlink class="fill-width" [timelineItem]="timelineItem" [projectID]="projectID"
                                     *ngSwitchCase="'UnlinkEvent'">
          </app-timeline-event-unlink>

          <app-timeline-event-added-artifact class="fill-width" [timelineItem]="timelineItem"
                                             *ngSwitchCase="'AddedArtifactEvent'">
          </app-timeline-event-added-artifact>

          <app-timeline-event-removed-artifact class="fill-width" [timelineItem]="timelineItem"
                                               *ngSwitchCase="'RemovedArtifactEvent'">
          </app-timeline-event-removed-artifact>

          <app-timeline-event-added-nfc class="fill-width" [timelineItem]="timelineItem"
                                        *ngSwitchCase="'AddedNonFunctionalConstraintEvent'">
          </app-timeline-event-added-nfc>

          <app-timeline-event-removed-nfc class="fill-width" [timelineItem]="timelineItem"
                                          *ngSwitchCase="'RemovedNonFunctionalConstraintEvent'">
          </app-timeline-event-removed-nfc>

          <app-timeline-event-added-to-component class="fill-width" [timelineItem]="timelineItem"
                                                 [projectID]="projectID"
                                                 *ngSwitchCase="'AddedToComponentEvent'">
          </app-timeline-event-added-to-component>

          <app-timeline-event-category-changed class="fill-width" [timelineItem]="timelineItem"
                                               *ngSwitchCase="'CategoryChangedEvent'">
          </app-timeline-event-category-changed>

          <app-timeline-event-added-to-location class="fill-width" [timelineItem]="timelineItem" [projectID]="projectID"
                                                *ngSwitchCase="'AddedToLocationEvent'">
          </app-timeline-event-added-to-location>
        </li>
      </ul>
    </div>
  </ng-template>
</app-query-component>
