<h1 mat-dialog-title>Create a new label</h1>
<div mat-dialog-content>
  <mat-form-field class="new-label-input" appearance="outline">
    <mat-label>Label Name</mat-label>
    <input #labelName required matInput [formControl]="validationLabelName">
    <mat-error *ngIf="validationLabelName.invalid">Invalid name</mat-error>
  </mat-form-field>

  <mat-form-field class="new-label-input" appearance="outline">
    <mat-label>Description</mat-label>
    <input #labelDescription matInput>
  </mat-form-field>

  <mat-form-field class="new-label-input" floatLabel="always" appearance="outline">
    <mat-label>Color</mat-label>
    <input
      matInput
      readonly
      [style.background]="color"
      autocomplete="off"
      [(colorPicker)]="this.color"
      [cpAlphaChannel]="'disabled'"
      [cpPosition]="'bottom'"/>
    <button mat-icon-button class="color-randomize-button" matSuffix (click)="this.randomizeColor()">
      <mat-icon>refresh</mat-icon>
    </button>
  </mat-form-field>
</div>

<div mat-dialog-actions>
  <button mat-button (click)="this.onLabelCancelClick()">Cancel</button>
  <button mat-raised-button [disabled]="loading || validationLabelName.invalid"
          (click)="this.onConfirmCreateLabelClick(labelName.value, labelDescription.value)">
    Create
  </button>
</div>
