.new-label-input {
  padding: 6px;
  width: 100%;
}

.error-label-create {
  background-color: rgb(204, 58, 58);
  color: white;
  margin-top: 5px;
}

.color-randomize-button {
  margin-left: 4px;
}

.mat-success {
  background-color: green;
  color: #fff;
}

.actions {
  float: right;
}
